.custom-mega-menu .custom-mega-item {
  position: relative;
}

.custom-mega-wrapper {
  position: static;
}

.custom-mega-dropdown {
  position: absolute;
  left: -100%;
  top: 100%;
  width: auto;
  background: #fff;
  padding: 50px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all .35s ease;
  z-index: 99;
  border-top: 1px solid #eee;
}

.custom-mega-item:hover .custom-mega-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.custom-mega-inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.custom-mega-links {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
}

.mega-column {
  border-right: 1px solid #eee;
  padding-right: 30px;
}

.mega-heading {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
}

.mega-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-submenu li {
  margin-bottom: 14px;
}

.mega-submenu li a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
}

.mega-submenu li a:hover {
  color: #000;
}

.custom-mega-product {
  width: 30%;
}

.mega-product-heading {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.mega-product-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.mega-product-card {
  border: 1px solid #ddd;
}

.mega-product-image img {
  width: 100%;
  display: block;
}

.mega-product-info {
  padding: 15px;
}

.mega-product-info h4 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #000;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 991px){

  .custom-mega-dropdown {
    display: none;
  }

}