.announcement-bar {
  justify-content: flex-start;
}

.announcement-bar__message {
  font-family: sans-serif;
}

.announcement-bar__contact-link {
  color: rgb(var(--color-foreground));
  text-decoration: none;
}

.announcement-bar__contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: sans-serif;
}

.header__menu-item {
  font-family: sans-serif;
  padding: 6px 16px;
}

.header:not(.header--middle-left,.header--middle-center) .header__inline-menu {
  text-align: center;
  margin: 0;
}

.header--top-center {
  grid-template-areas:"heading left-icons icons" "navigation navigation navigation";
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
}

.header--top-center .header__heading {
  justify-self: flex-start;
  text-align: left;
}

.header:before {
  content: '';
  position: absolute;
  top: 57%;
  transform: translateY(-57%);
  height: 0.1px;
  background: #5353534d;
  width: 100%;
  left: 0;
}

.search-center-custom {
  padding: 0 3rem 5px;
}

.search__input.field__input {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search__input.field__input:focus {
  box-shadow: none;
  border-color: #000;
}

.search-center-custom .field:after, .search-center-custom .field:hover:after {
  box-shadow: none;
}

.header__icon .svg-wrapper, .offer-box img {
  width: 30px;
  height: 30px;
}

.header__icon--cart .svg-wrapper {
  width: 26px;
  height: 26px;
}

.offer-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-right: 16px;
}

.offer-box span {
  font-size: 17px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.collection-list, .featured_collections {
  gap: 0;
}

.slideshow__controls {
  border: none !important;
}

.featured_collections .card-wrapper {
  border-inline-start: 1px solid;
}

.featured_collections {
  border: 1px solid;
  border-inline-start: 0px;
  overflow: hidden;
  border-radius: 10px;
}

.featured_collections .card__content, .featured_collections .card-information {
  text-align: center;
}

.featured_collections .card__media {
  border-bottom: 1px solid;
}